POSTGRES_USER=your_value_here
POSTGRES_PASSWORD=your_value_here
POSTGRES_DB=your_value_here

APP_PORT=8080
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=your_value_here;Username=your_value_here;Password=your_value_here
